body {
    user-select: none;
}

.ad {
    height: 500px;
}

.container {
    width: 800px;
    height: 410px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    text-align: center;
}

.show {
    display: block;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    transition: 0.6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.text {
    color: #fff;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-weight: bold;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
    
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.content-container {
margin-top: 30px;
width: 80%;
max-width: 1282px;
}

.columns-wrapper {
gap: 20px;
display: flex;
}

.left-column {
display: flex;
flex-direction: column;
line-height: normal;
width: 59%;
margin-left: 0px;
}

.description-wrapper {
display: flex;
flex-grow: 1;
flex-direction: column;
font-size: 20px;
font-weight: 500;
white-space: nowrap;
line-height: 150%;
}

.image {
aspect-ratio: 1.09;
object-fit: auto;
object-position: center;
width: 100%;
}


.title {
color: #000;
font-family: Inter, sans-serif;
margin-top: 24px;
}

@media (max-width: 991px) {
.title {
max-width: 100%;
}
}

.subtitle {
color: #828282;
font-family: Inter, sans-serif;
margin-top: 4px;
}

@media (max-width: 991px) {
.subtitle {
max-width: 100%;
}
}

.right-column {
display: flex;
flex-direction: column;
line-height: normal;
padding-left: 10%;
width: 50%;
}

@media (max-width: 991px) {
.right-column {
width: 100%;
}
}

.content-wrapper {
display: flex;
flex-grow: 1;
flex-direction: column;
font-size: 20px;
color: #000;
font-weight: 500;
line-height: 150%;
}

@media (max-width: 991px) {
.content-wrapper {
max-width: 100%;
margin-top: 32px;
}
}

.image-large {
aspect-ratio: 1.85;
object-fit: auto;
object-position: center;
width: 100%;
}

@media (max-width: 991px) {
.image-large {
max-width: 100%;
}
}

.spaced-image {
aspect-ratio: 1.85;
object-fit: auto;
object-position: center;
width: 100%;
margin-top: 32px;
}

@media (max-width: 991px) {
.spaced-image {
max-width: 100%;
}
}
 .page-container {
   padding-bottom: 9px;
   background-color: #fff;
   display: flex;
   flex-direction: column;
 }

 .main-header {
   background-color: #fffcef;
   display: flex;
   width: 100%;
   flex-direction: column;
 }

 @media (max-width: 991px) {
   .main-header {
     max-width: 100%;
   }
 }

 .header-content {
   display: flex;
   width: 100%;
   
   flex-direction: column;
   align-items: center;
 }

 @media (max-width: 991px) {
   .header-content {
     max-width: 100%;
     padding-left: 20px;
   }
 }

 .top-bar {
   background-color: #fffcef;
   display: flex;
   width: 100%;
   gap: 20px;
   font-weight: 500;
   white-space: nowrap;
   line-height: 150%;
   padding: 52px 67px;
 }

 @media (max-width: 991px) {
   .top-bar {
     max-width: 100%;
     flex-wrap: wrap;
     padding-right: 20px;
     white-space: initial;
   }
 }

 .company-name {
   color: #000;
   font: 36px Inter, sans-serif;
   flex-grow: 1;
   margin-left: 20px;
 }

 .nav-actions {
   display: flex;
   gap: 20px;
   align-items: center;
   margin-right: 10%;
 }

 @media (max-width: 991px) {
   .nav-actions {
     white-space: initial;
   }
 }

 .search-label {
   color: #000;
   font: 20px Inter, sans-serif;
   margin: auto 0;
 }

 .nav-icon {
   aspect-ratio: 1.1;
   width: 50px;
   align-self: stretch;
   margin: auto 0;
 }

 .login-button {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #3c8aff;
   color: #fff;
   padding: 14px 24px;
   font: 16px Inter, sans-serif;
   margin: auto 0;
   text-transform: uppercase;
   transition: transform 80ms ease-in;
   border-radius: 8px;
 }
 .login-button:active {
    transform: scale(0.95);
}


 .cart-icon {
   aspect-ratio: 1;
   width: 50px;
   height: 50px;
   align-self: stretch;
   
 }

 .hero-section {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   min-height: 597px;
   width: 100%;
   max-width: 1275px;
   color: #fff;
   text-align: center;
   padding: 80px;
   position: relative;
   border-radius: 8px;
   overflow: hidden;
 }

 @media (max-width: 991px) {
   .hero-section {
     max-width: 100%;
     white-space: initial;
     padding: 0 20px;
   }
 }

 .hero-background {
   position: absolute;
   inset: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
 }

 .hero-title {
   position: relative;
   margin-top: 112px;
   font: 700 64px Inter, sans-serif;
   letter-spacing: -1.28px;
 }

 @media (max-width: 991px) {
   .hero-title {
     max-width: 100%;
     margin-top: 40px;
     font-size: 40px;
   }
 }

 .hero-subtitle {
   position: relative;
   margin: 24px 0 134px;
   font: 400 24px/150% Inter, sans-serif;
 }

 @media (max-width: 991px) {
   .hero-subtitle {
     max-width: 100%;
     margin-bottom: 40px;
   }
 }

 .footer {
   background-color: #fff;
   display: flex;
   margin-top: 100px;
   width: 100%;
   flex-direction: column;
   padding: 0 80px 48px;
 }

 @media (max-width: 991px) {
   .footer {
     max-width: 100%;
     margin-top: 40px;
     padding-left: 20px;
   }
 }

 .footer-divider {
   border: 1px solid rgba(230, 230, 230, 1);
   background-color: #e6e6e6;
   height: 1px;
   align-self: end;
   width: 1223px;
   max-width: 100%;
 }

 .footer-content {
   display: flex;
   margin-top: 47px;
   width: 100%;
   max-width: 1223px;
   gap: 20px;
   align-self: center;
 }

 @media (max-width: 991px) {
   .footer-content {
     max-width: 100%;
     flex-wrap: wrap;
     padding-right: 20px;
     margin-top: 40px;
   }
 }

 .footer-left {
   display: flex;
   flex-direction: column;
   margin-top: 11px;
 }

 .footer-logo {
   color: #000;
   font: 400 24px/150% Inter, sans-serif;
 }

 .social-icons {
   display: flex;
   gap: 8px;
   margin-top: 95px;
   align-self: center;
 }

 @media (max-width: 991px) {
   .social-icons {
     margin-top: 40px;
   }
 }

 .social-icon {
   aspect-ratio: 1;
   width: 40px;
 }

 .footer-columns {
   display: flex;
   gap: 20px;
   flex-grow: 1;
   justify-content: space-evenly;
 }

 @media (max-width: 991px) {
   .footer-columns {
     flex-direction: column;
     align-items: stretch;
     gap: 0;
   }
 }

 .footer-column {
   display: flex;
   flex-direction: column;
   font-size: 16px;
   color: #454545;
   font-weight: 500;
   line-height: 150%;
   white-space: nowrap;
 }

 @media (max-width: 991px) {
   .footer-column {
     white-space: initial;
   }
 }

 .footer-subtitle {
   color: #000;
   font-family: Inter, sans-serif;
 }

 .footer-item {
   font-family: Inter, sans-serif;
   margin-top: 24px;
 }
.content-container {
    box-sizing: none;
    padding: 10%;
    width: 80%;
    max-width: 1282px;
}

.columns-wrapper {
gap: 20px;
display: flex;
}

@media (max-width: 991px) {
.columns-wrapper {
flex-direction: column;
align-items: stretch;
gap: 0px;
}
}

.left-column {
display: flex;
flex-direction: column;
line-height: normal;
width: 59%;
margin-left: 0px;
}

@media (max-width: 991px) {
.left-column {
width: 100%;
}
}

.description-wrapper {
display: flex;
flex-grow: 1;
flex-direction: column;
font-size: 20px;
font-weight: 500;
white-space: nowrap;
line-height: 150%;
}

@media (max-width: 991px) {
.description-wrapper {
max-width: 100%;
margin-top: 32px;
white-space: initial;
}
}

.image {
aspect-ratio: 1.09;
object-fit: auto;
object-position: center;
width: 100%;
}

@media (max-width: 991px) {
.image {
max-width: 100%;
}
}

.title {
color: #000;
font-family: Inter, sans-serif;
margin-top: 24px;
}

@media (max-width: 991px) {
.title {
max-width: 100%;
}
}

.subtitle {
color: #828282;
font-family: Inter, sans-serif;
margin-top: 4px;
}

@media (max-width: 991px) {
.subtitle {
max-width: 100%;
}
}

.right-column {
display: flex;
flex-direction: column;
line-height: normal;
width: 41%;
margin-left: 20px;
}

@media (max-width: 991px) {
.right-column {
width: 100%;
}
}

.content-wrapper {
display: flex;
flex-grow: 1;
flex-direction: column;
font-size: 20px;
color: #000;
font-weight: 500;
line-height: 150%;
}

@media (max-width: 991px) {
.content-wrapper {
max-width: 100%;
margin-top: 32px;
}
}

.image-large {
aspect-ratio: 1.85;
object-fit: auto;
object-position: center;
width: 100%;
}

@media (max-width: 991px) {
.image-large {
max-width: 100%;
}
}

.spaced-image {
aspect-ratio: 1.85;
object-fit: auto;
object-position: center;
width: 100%;
margin-top: 32px;
}

@media (max-width: 991px) {
.spaced-image {
max-width: 100%;
}
}
.menu-section {
    box-sizing: border-box;
    padding: 10%;
    justify-content: space-between;
    align-content: flex-end;
    row-gap: 32px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.menu-container {
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .menu-container {
    max-width: 100%;
  }
}

.row {
  gap: 20px;
  display: flex;
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  margin-left: 0px;
}

@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.product-card {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  white-space: nowrap;
  line-height: 150%;
}

@media (max-width: 991px) {
  .product-card {
    margin-top: 35px;
    white-space: initial;
  }
}

.product-image {
  aspect-ratio: 1.67;
  object-fit: auto;
  object-position: center;
  width: 100%;
}

.product-name {
  font-family: Inter, sans-serif;
  margin-top: 24px;
}

.product-description {
  color: #828282;
  font-family: Inter, sans-serif;
  margin-top: 4px;
}

.product-price {
  font-family: Inter, sans-serif;
  margin-top: 4px;
}

.column-margin {
  margin-left: 20px;
}

.product-card-alt {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  line-height: 150%;
}

@media (max-width: 991px) {
  .product-card-alt {
    margin-top: 35px;
  }
}

.menu-row {
  margin-top: 32px;
  width: 100%;
  padding: 0 20px;
}

@media (max-width: 991px) {
  .menu-row {
    max-width: 100%;
  }
}

